@font-face {
  font-family: 'PublicSans'; /*Can be any text*/
  font-weight: 'regular';
  src: local('PublicSans-Regular'), url('./assets/PublicSans-Regular.ttf') format('truetype');
}

.App {
  width: 80%;
  margin: auto;
  text-align: center;
}

.wineCard {
  background-color: gray;
  border-radius: 8px;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
}

.wineGroup {
  display: flex;
  gap: 1rem;
  align-items: space-between;
}

.card-heading {
  font-size: 24px;
}
