@font-face {
  font-family: 'PublicSans'; /*Can be any text*/
  font-weight: 'regular';
  src: local('PublicSans-Regular'), url('./assets/PublicSans-Regular.ttf') format('truetype');
}

.App {
  width: 80%;
  margin: auto;
  text-align: center;
}

.wineGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-items: space-between;
  position: relative;
  width: 70rem;
  height: 11rem;
  overflow: hidden;

  > .wineCard {
    background-color: rgba(179, 179, 179, 0.79);
    border-radius: 8px;
    width: 18rem;
    height: 10rem;
    padding: 1rem;
    position: absolute;
    overflow: hidden;
  }

  > .slideLeft:nth-child(1n) {
    left: 60rem;
    -webkit-animation: slide1 1s forwards;
    animation: slide1 1s forwards;
  }
  > .slideLeft:nth-child(2) {
    left: 80rem;
    -webkit-animation: slide2 1s forwards;
    animation: slide2 1s forwards;
  }
  > .slideLeft:nth-child(3) {
    left: 100rem;
    -webkit-animation: slide3 1s forwards;
    animation: slide3 1s forwards;
  }

  > .slideRight:nth-child(1n) {
    left: -100rem;
    -webkit-animation: slide1 1s forwards;
    animation: slide1 1s forwards;
  }
  > .slideRight:nth-child(2) {
    left: -80rem;
    -webkit-animation: slide2 1s forwards;
    animation: slide2 1s forwards;
  }
  > .slideRight:nth-child(3) {
    left: -60rem;
    -webkit-animation: slide3 1s forwards;
    animation: slide3 1s forwards;
  }

  @keyframes slide1 {
    100% {
      left: 0;
    }
  }
  @keyframes slide2 {
    100% {
      left: 19rem;
    }
  }
  @keyframes slide3 {
    100% {
      left: 38rem;
    }
  }
}

.card-heading {
  font-size: 24px;
}

.nextButton {
  width: 3rem;
  height: 8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(160, 198, 185);
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
  z-index: 99;
}

.nextButton:disabled {
  background-color: rgb(206, 202, 202);
}

.wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
