@font-face {
  font-family: 'PublicSans'; /*Can be any text*/
  font-weight: 'regular';
  src: local('PublicSans-Regular'), url('./assets/PublicSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat'; /*Can be any text*/
  font-weight: 'regular';
  src: local('Montserrat-Regular'), url('./assets/Montserrat-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  margin-top: 5rem;
  font-family: 'Montserrat', 'PublicSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}
